[defaults]
inventory          = /ansible/inventory
roles_path         = /ansible/roles
host_key_checking  = False
retry_files_enabled = False
stdout_callback    = default
result_format      = yaml
callback_whitelist = profile_tasks
enable_callbacks   = profile_tasks
remote_user        = ubuntu
private_key_file   = /root/.ssh/AcessoDesenvolvedor.pem

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -i /root/.ssh/AcessoDesenvolvedor.pem
pipelining = True
